@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Kaushan+Script&family=Montserrat&family=Rubik:ital,wght@0,400;1,600&display=swap');

/*

font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
*/

* {
    box-sizing: border-box;
    background-color: #F8F7F5;
}

.title-text{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    margin-bottom: 0%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
}

body {
    font-family: "Georgia", serif;
}

a {
    font-family: "Montserrat";
}

p {
    font-family: 'Gelasio', serif;
}

.primary-color-bg {
    color: #F8F7F5;
}

.secondary-color-bg {
    color: #E5D3BB;
}









