@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Kaushan+Script&family=Montserrat&family=Rubik:ital,wght@0,400;1,600&display=swap');

/*

font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
*/

* {
    box-sizing: border-box;
    background-color: #F8F7F5;
    padding: 0;
    margin: 0;
}

.title-text{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    margin-bottom: 0%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
}

body {
    font-family: "Georgia", serif;
}

a {
    font-family: "Montserrat";
}

p {
    font-family: 'Gelasio', serif;
}

.primary-color-bg {
    color: #F8F7F5 !important; 
}

.secondary-color-bg {
    color: #E5D3BB !important;
}


/******************
    NAVIGATION
******************/
.header-bar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 1rem;
    align-items: center;
    margin: 0.5rem 1rem;
}

.header-bar a {
    text-decoration: none;
    color: black;
}

.header-bar a:hover {
    color: #dbc9b1;
}

.nav-bar div {
    display: inline;
    padding: 0 1.5rem;
    font-size: 1.15rem;
}

.nav-bar div:nth-child(n+2) {
    border-left: 1px solid #000;
}

.header-bar img {
    width: 4.5%;
    height: 4.5%;
}

.header-bar h1 a {
    font-size: 2rem;
}









